<div id="background" class="container-fluid">
	<div class="col-sm-6 text-center col-sm-offset-3">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for...">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div>
	  </div>
</div>
