<!-- <body class="posts">
<div id="background2" class="container-fluid">
	<div class="col-sm-8 text-center col-sm-offset-2">
		<div class="animated fadeIn fade">
			<h4 id="city-name1"></h4><br>
			<img id="profile-image2" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/08b/0a4/1e476e9.jpg" alt="Daniel Kahn">
			<div id="post_content">
				<h2 class="title" id="titleId">Sunny California</h2>
				<h3 class="author">Michelle M.</h3>
				<p class="date">
					Submitted about 20 hours Ago
				</p>
				<p class="body">
					California, a western U.S. state, stretches from the Mexican border along the Pacific for nearly 900 miles. It&#39;s known for its dramatic terrain encompassing cliff-lined beaches, redwood forest, the Sierra Nevada Mountains, Central Valley farmland and the arid Mojave Desert. Its cities include sprawling Los Angeles, seat of the Hollywood entertainment industry, and hilly San Francisco, home to the Golden Gate Bridge.
				</p>
			</div>
		</div>
	</div>
</div> -->
<div class="post-bg">
<div class="container-fluid">
	<div id="edit-btn">

	</div>
	<div id="content-div" class="row col-sm-8 col-sm-offset-2">
		<!-- Button trigger modal -->
		<button id="edit-post-btn" type="button" class="btn btn-primary btn-lg col-sm-offset-7" data-toggle="modal" data-target="#myModal">
		  Edit Post
		</button>
		<div class="col-sm-3">
		<img id="profile-image2" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/6/005/08b/0a4/1e476e9.jpg">
		</div>
		<div class="col-sm-9">
			<h1><%= @post.title %></h1>
			<h4><%= @post.city_id %></h4>
			<h3><%= @post.author %></h3>
			<p><%= @post.body %></p>
		</div>
	</div>
</div>
</div>