<body class="city">
	<div id="background" class="container-fluid">
		<div class="col-sm-10 col-sm-offset-1 main">
			<div class="row">
				<h4 class="name col-sm-10"><%= link_to @city.name %></h4>
					<button role="button" class="col-sm-2 text-right btn btn-primary btn-lg red-btn" data-toggle="modal" data-target="#newPostModal">Create New Post</button>
			</div>
				<img src="<%= @city.image %>">
			</div>
		</div>
	</di>
</body>

