// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.city > #bg-img {
	zoom: 50;  //increase if you have very small images
    display: block;
    margin: auto;
    height: auto;
    max-height: 500%;
    width: auto;
    max-width: 500%;
	z-index: 0;
	position: absolute;
}

#main > div {
	background-color: rgba(255, 255, 255, 0.9);
	padding-right: 25px;
	z-index:2;
	position: absolute;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 2em;
}

#main > div > div > h4 > a {
	font-size: 28px;
	color: #4D4D4D;
}

#main > div > div > button {
	background-color: #ED1C24;
	color: #fff;
	text-shadow: 1px 1px #5A1D1D;
	margin-top: .5em;
	width: 182px;
    left: 19em;
    border-bottom-width: 9px;
    margin-bottom: 9px;
}

.banner-image{
	zoom: 2;  //increase if you have very small images
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
