body {
  font-family: 'Quicksand', sans-serif;
}

body.home {
	background: url('background.jpg') no-repeat 50% 50% fixed; 
	background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
}

#background > div > div > span > button {
	background-color: #ED1C24;
    border: none;
    color: #fff;
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 24px;
    text-transform: uppercase;
}

button.btn.btn-primary.btn-lg {
	color: #706F6F;
	background-color: rgba(0, 0, 0, 0.0);
	border: none;
}	

#page_wrapper {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
	}