body {
  font-family: 'Quicksand', sans-serif;
  color: black;
  background: rgba(255,255,255,0.7);
}

a:hover {
	text-decoration: none;
}

.h4 {
	font-size: 20px;
}
.posts{
background: url('background.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  
}

#page_wrapper2 {
		padding: 3em;
		#profile_image {
			width: 300px;
			float: left;
			margin-right: 2em;
			img {
				width: 100%;
				border-radius: 0.35em;
			}
		}
	}
	
  #titleId{
  margin-bottom:-10px;
  }
  #post_content{
  float: right;
  margin-left: 140px;
  margin-top:-150px;
  margin-right:15px;
  text-align:left;
  }
  #city-name1{
  text-align:left;
  margin-top:50px;
  margin-left:10px;
  margin-bottom:-20px;
  }
  #profile-image2 {
     height: 125;
     width: 125;
     float:left;
     margin-top:15px;
     margin-left:20px;
     margin-right:20px;
     border-radius: 50%;
  }
  #profile3 {
     opacity: 1.0;
     background-color: white;
     position: relative;
     z-index: 1;
     background: #f4f4f4 ;
     width: 100px;
     height: 100px;
     line-height: 198px;
     text-align: center;
     margin-top: 20px;
     margin-bottom: 20px;
     overflow: hidden;
     border-radius: 50%;
     margin-left: auto;
     margin-right: auto;
  }
